environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0

install:
  # Log versions for debugging
  - java -version
  - mvn --version

build_script:
  - ps: .\Update-Version.ps1
  - cmd: mvn --batch-mode -DskipTests package

test_script:
  - mvn --batch-mode test verify

artifacts:
  - path: pom.xml
  - path: target\QuamotionDriver.Java*.jar